{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn",
    "import/extensions": 0,
    "no-plusplus": [2, {"allowForLoopAfterthoughts": true}],
    "no-use-before-define": [2, {"functions": false, "variables": false}],
    "prefer-const": 0,
    "no-param-reassign": [2, {"props": false}]
  }
}
